.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Color de fondo oscuro */
  color: white;
  padding: 10px 20px;
}

.navbar-brand .logo {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #f0a000; /* Un color de resaltado */
}

.navbar-search input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

.navbar-search button {
  background-color: #f0a000;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-search button:hover {
  background-color: #d08000;
}

.navbar-user a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-size: 16px;
}